@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
	--Orange: hsl(26, 100%, 55%);
	--Pale-orange: hsl(25, 100%, 94%);
	--Very-dark-blue: hsl(220, 13%, 13%);
	--Dark-greyish-blue: hsl(219, 9%, 45%);
	--Light-greyish-blue: hsl(223, 64%, 98%);
    --Light-Grey: #b6bcc8;
	--White: hsl(0, 0%, 100%);
	--Black: hsl(0, 0%, 0%); /* 75% oppacity for lightbox background*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: "Kumbh Sans", sans-serif;
    width: 100%;
}
img{
    border-radius: .75em;
}
.header{
    width: 100%;
    display:grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 1.5em;
    padding: 1em;
}
.hamburger-icon img{
    border-radius: 0;
}
.menu-text{
    display: none;
}
.user{
    height: 4em;
    border-radius: 50%;
    border: 2px solid transparent;
}
.item-number{
    display: none;
}
/*come back to edit this later*/
.cart-window{
    display: none;
}
.selected-img{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.gallery{
    display: none;
}
.shoe-info-container{
    padding: 0 2rem;
    display: grid;
}
.company{
    width: 100%;
    color: var(--Orange);
    font-size: 4vw;
    font-weight: bold;
    padding: .5em 0em 0em 0em;
}
.shoe-name{
    width: 100%;
    color: var(--Very-dark-blue);
    font-size: 8vw;
    font-weight: bold;
    padding: .5em 0em 0em 0em;
}
.shoe-description{
    color: var(--Dark-greyish-blue);
    font-size: 4vw;
    padding: 1em 0em 0em 0em;
}
.cost-info{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em 0em 0em 0em;
}
.discount-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.discount-amount{
    color: var(--Orange);
    font-size: 4vw;
    font-weight: bold;
}
.original-amount{
    display: flex;
    justify-content: flex-end;
}
.original-price-text{
    text-decoration-line: line-through;
    color: var(--Light-Grey);
}
.discounted-price-text{
    font-size: 6vw;
    font-weight: bold;
}
.prod-quantity{
    width: 100%;
    height: 100%;
    border: none;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-justify: center;
}

/*for full sized screen*/
@media  screen and (min-width:1439px) {
    body{
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
    }
    .header{
        padding-left: 4em;
        padding-right: 4em;
    }
    .drop-down-menu{
        display: none;
    }
    .menu-text{
        display:inline;
    }
    li{
       display: inline; 
       padding-left: 1em;
       font-size: 20px;
    }
    .user{
        height: 50px;
    }
    .page-body{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3em;
        column-gap: 2em;
    }
    .main-shoe-images{
        max-width: 100%;
        max-height: 100%;
        display: block;
        padding: 2em;
        justify-content: center;
    }
    .main-image{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .selected-img{
        display: flex;
        justify-content: center;
    }
    .shoe-info-container{
        max-height: 100%;
        max-width: 100%;
        display: block;
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1em;
        padding-left: 2em;
    }
    .selected-img{
        border-radius: 0.75em;
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
    .btn-image{
        border: none;
    }
    .img-gallery{
        padding: 1em;
    }
    .image1, .image2,.image3, .image4{
        max-height: 90%;
        max-width: 90%;
    }
    .nav-links{
        color: var(--Dark-greyish-blue);
    }
    .shoe-info-container{
        justify-items: left;
    }
    .company{
        font-size: 25px;
        font-weight: bold;
        padding: 3em 0em 0em 0em;
    }
    .shoe-name{
        font-size: 60px;
        font-weight: bold;
        padding: 1em 0em 0em 0em;
    }
    .shoe-description{
        font-size: x-large;
        padding: 3em 0em 0em 0em;
    }
    .cost-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2em 0em 0em 0em;
        display: block;
    }
    .discount-info{
        grid-template-columns: 1fr 3fr;
    }
    .discount-amount{
        color: var(--Orange);
        font-size: 25px;
        font-weight: bold;
    }
    .original-amount{
        justify-content: none;
    }
    .original-price-text{
        text-decoration-line: line-through;
        color: var(--Light-Grey);
        justify-content: none;
    }
    .discounted-price-text{
        font-size: 45px;
        font-weight: bold;
    }
    .shopping-btns{
        padding: 2em 0em 0em 0em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
    }
    .quantity-info{
        width: 272px;
        height: 56px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .prod-quantity{
        font-weight: bold;
        font-size: xx-large;
        text-align: center;
        text-justify: center;
    }
    .quantity-btn, .prod-quantity{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 25%;
    }

    .add-to-cart{
        width: 272px;
        height: 56px;
        border: none;
        background-color: var(--Orange);
        border-radius: 15px;
        font-size: larger;
        font-weight: bold;
        color: var(--White);
    }
    .add-to-cart img{
        filter: brightness(300%);
    }
}